services:
  - type: web
    name: youtube-downloader
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20.12.2
      - key: YOUTUBE_COOKIES
        sync: false
